.header-styles{
    @extend %container-fluid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 999999999;
    background-color: #F6F8F9;
    margin-bottom: 50px;
    .burger-conainer{
        display: none;
        .fa-bars{
            display: none;
        }
    }
    
    .logo{
       color: #FA6980;
       font-family: 'Helvetica-Bold';
       font-size: 13px;
       margin-left: 20px;
    
    }
    .navbar{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        .nav-ul{
            display: flex;
           .nav-li{
                font-family: 'HelveticaRounded-Bold';
                font-size: 11px;
                margin-right: 30px;
                color: #707070;
                text-transform: uppercase;
                transition: all 0.5s;
                &:first-child{
                    color: #343638;
                    &:hover{
                        color: #FA6980;
                        transition: all 0.5s;
                    }
                }
                &:hover{
                    color: black;
                    transition: all 0.5s;
                }
           }
           
        }
    }
    .nav-img{
        max-width: 30px;
        width: 100%;
        margin-left: 20px;
        .nav-img-01{
            width: 100%;
        }
    }
    .mobile-nav{
        display: none;
    }
}
// end of header section
.banner-content{
    @extend %container-fluid;   
    // padding-top: 50px;
    display:flex;
    position: relative;
    height: 600px;
    background-color: #FFFFFF;
    .img-container{
        position: absolute;
        top:0;
        left:0;
        width: 55%;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .content-wrapper{
        @extend %container;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left-block{

            .bg-title{
                max-width: 600px;
                width: 100%;
                .bg-h3{
                    font-family: 'Helvetica';
                    font-weight: bold;
                    color: #fff;
                    font-size: 24px;
                    border-bottom: 1px solid #fff;
                    padding-bottom: 40px;
                }
                .text-block{
                    width: 100%;
                    margin-top: 40px;
                    .h4-titile{
                        font-family: 'Helvetica-Bold';
                        font-size: 24px;
                        font-weight: bold;
                        color: #FFFFFF;
                    }
                    .text-p{
                        max-width: 560px;
                        width: 100%;
                        font-family: 'Helvetica';
                        font-size: 16px;
                        color: #fff;
                        line-height: 20px;
                        margin-top: 20px;
                    }
                    .first-btn{
                        max-width: 134px;
                        width: 100%;
                        height: 40px;
                        background: #FA6980;
                        color: #FFFFFF;
                        font-family: 'Helvetica-Bold';
                        font-size: 11px;
                        margin-top: 30px;
                        border-radius: 6px;
                        transition: all 0.3s;
                        cursor: pointer;
                        &:hover{
                            transition: all 0.3s;
                            background: transparent;
                        }
                    }
                }
            }
           
        }
        .right-block{
            // max-width: 600px;
           width: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            .right-title{
                max-width: 600px;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .content-titile{
                    display: flex;
                    justify-content: space-between;
                    max-width: 380px;
                    width: 100%;
                    padding-bottom: 40px;
                    border-bottom: 1px solid #EBEDED;
                    .content-h3{
                        font-family: 'Helvetica-Bold';
                        font-size: 24px;
                    }
                    .slider{
                        max-width: 50px;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        .fa-chevron-left{
                            font-size: 10px;
                            color: #707070;
                            cursor: pointer;
                        }
                        .fa-chevron-right{
                            font-size: 10px;
                            color: #202124;
                            cursor: pointer;
                        }
                    }
                }
            }
            .second-content{
                max-width: 380px;
                width: 100%;
                margin-top: 41px;
                .second-h3{
                    font-family: 'Helvetica';
                    font-weight: bold;
                    font-size: 16px;
                    color: #FA6980;
                }
                .therd-h3{
                    font-family: 'Helvetica';
                    font-weight: bold;
                    font-size: 16px;
                    color: #202124;
                    margin-top: 20px;
                }
                .content-p{
                    font-family: 'AcuminPro-Regular';
                    font-size: 16px;
                    color: #A6ADB4;
                    margin-top: 10px;
                    line-height: 20px;
                }
                .second-p{
                    font-family: 'Helvetica-Oblique';
                    font-size: 13px;
                    color: #A6ADB4;
                    margin-top: 12px;
                    .fa-clock{
                        font-size: 16px;
                        color: #CBD0D3;
                        margin-right: 10px;
                    }
                }
            }
            .therd-content{
                max-width: 380px;
                width: 100%;
                margin-top: 41px;
                .second-h3{
                    font-family: 'Helvetica';
                    font-weight: bold;
                    font-size: 16px;
                    color: #FA6980;
                }
                .therd-h3{
                    font-family: 'Helvetica';
                    font-weight: bold;
                    font-size: 16px;
                    color: #202124;
                    margin-top: 20px;
                }
                .content-p{
                    font-family: 'AcuminPro-Regular';
                    font-size: 16px;
                    color: #A6ADB4;
                    margin-top: 10px;
                    line-height: 20px;
                }
                .second-p{
                    font-family: 'Helvetica-Oblique';
                    font-size: 13px;
                    color: #A6ADB4;
                    margin-top: 12px;
                    .fa-clock{
                        font-size: 16px;
                        color: #CBD0D3;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    
}
// end of banner-section
.section-01{
    @extend %container;
    margin-top: 40px;
    margin-bottom: 40px;
    .section-title{
        display: flex;
        justify-content: space-between;
        .titile-h3{
            font-family: 'Helvetica';
            font-weight: bold;
            color: #202124;
        }
        .slider{
            max-width: 60px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            .fa-chevron-left{
                font-size: 15px;
                color: #707070;
                cursor: pointer;
            }
            .fa-chevron-right{
                font-size: 15px;
                color: #202124;
                cursor: pointer;
            }
        }
    }
    .content-wrapper{
        @extend %container;
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        .first-box{
            max-width: 360px;
            width: 100%;
            background-color: #FFFFFF;
            border-radius: 6px;
            .first-img{
                width: 100%;
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
                transition: all 0.3s;
                &:hover{
                    transition: all 0.3s;
                    transform: scale(1.01);
                }
            }
            .first-title{
                margin-top: 40px;
                margin-left: 40px;
                padding-bottom: 40px;
                .firs-p{
                    font-family: 'Helvetica';
                    font-weight: bold;
                    font-size: 16px;
                }
                .second-p{
                    font-family: 'AcuminPro-Regular';
                    font-size: 13px;
                    max-width: 280px;
                    width: 100%;
                    line-height: 20px;
                    color: #A6ADB4;
                }
                .second-p{
                    font-family: 'AcuminPro-Regular_1';
                    font-size: 13px;
                    color: #A6ADB4;
                    margin-top: 12px;
                    .fa-clock{
                        font-size: 16px;
                        color: #CBD0D3;
                        margin-right: 10px;
                    }
                }
            }

        }
        .second-box{
            max-width: 360px;
            width: 100%;
            background-color: #FFFFFF;
            border-radius: 6px;
            .second-img{
                width: 100%;
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
                transition: all 0.3s;
                &:hover{
                    transition: all 0.3s;
                    transform: scale(1.01);
                }
            }
            .second-title{
                margin-top: 40px;
                margin-left: 40px;
                padding-bottom: 40px;
                .firs-p{
                    font-family: 'Helvetica';
                    font-weight: bold;
                    font-size: 16px;
                }
                .second-p{
                    font-family: 'AcuminPro-Regular';
                    font-size: 13px;
                    max-width: 280px;
                    width: 100%;
                    line-height: 20px;
                    color: #A6ADB4;
                }
                .second-p{
                    font-family: 'AcuminPro-Regular_1';
                    font-size: 13px;
                    color: #A6ADB4;
                    margin-top: 12px;
                    .fa-clock{
                        font-size: 16px;
                        color: #CBD0D3;
                        margin-right: 10px;
                    }
                }
            }
        }
        .theerd-box{
            max-width: 360px;
            width: 100%;
            background-color: #FFFFFF;
            border-radius: 6px;
            .therd-img{
                width: 100%;
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
                transition: all 0.3s;
                &:hover{
                    transition: all 0.3s;
                    transform: scale(1.01);
                }
            }
            .second-title{
                margin-top: 40px;
                margin-left: 40px;
                padding-bottom: 40px;
            }
            .firs-p{
                font-family: 'Helvetica';
                font-weight: bold;
                font-size: 16px;
            }
            .second-p{
                font-family: 'AcuminPro-Regular';
                font-size: 13px;
                 max-width: 280px;
                width: 100%;
                line-height: 20px;
                color: #A6ADB4;
            }
            .second-p{
                font-family: 'AcuminPro-Regular_1';
                font-size: 13px;
                color: #A6ADB4;
                margin-top: 12px;
                .fa-clock{
                    font-size: 16px;
                    color: #CBD0D3;
                    margin-right: 10px;
                }
            }
        }
    }
}
// .section-01 end
.section-02{
    @extend %container;
    margin-top: 40px;
    margin-bottom: 40px;
    // display: flex;
    // justify-content: space-between;
    .sec-02-therd-titile{
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        .therd-titile{
            font-family: 'Helvetica';
            font-weight: bold;
            font-size: 24px;
             color: #202124;
             margin: 40px 0;
            
        }
        .slider{
            display: flex;
            justify-content: flex-end;
            max-width: 360px;
            width: 100%;
            margin-top: 45px;
            .fa-chevron-left{
                margin-right: 40px;
                color: #707070;
                cursor: pointer;
                font-size: 15px;
            }
            .fa-chevron-right{
                font-size: 15px;
                cursor: pointer;
                color: #202124;
            }
        }
    }
    .wrapper{
        display: flex;
        justify-content: space-between;
        @extend %container;
        .first-box{
            max-width: 770px;
            width: 100%;
            
            .first-bg{
                background-image: url('../img/Image23.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 430px;
                border-radius: 6px;
                position: relative;
                filter: grayscale(0%);
                transition: all 0.3s;
                &:hover{
                    filter: grayscale(100%);
                    transition: all 0.3s;
                }
                .bg-title{
                    font-family: 'Helvetica';
                    font-weight: bold;
                    color: #FFFFFF;
                    font-size: 16px;
                    position: absolute;
                    top: 40px;
                    left: 40px;
                   
                }
                .bottom-title{
                    position: absolute;
                    bottom: 40px;
                    left: 40px;
                    .large-article{
                        font-family: 'Helvetica';
                        font-weight: bold;
                        color: #FFFFFF;
                        font-size: 24px;
                        margin-bottom: 10px;
                    }
                    .bottom-p{
                        max-width: 680px;
                        width: 100%;
                        font-family: 'AcuminPro-Regular_1';
                        font-size: 16px;
                        color: #FFFFFF;
                        line-height: 25px;
                        margin-bottom: 10px;
                    }
                    .second-p{
                        font-family: 'Helvetica-Oblique';
                        font-size: 13px;
                        color: #A6ADB4;
                        margin-top: 12px;
                        font-weight: normal;
                    .fa-clock{
                            font-size: 16px;
                            color: #CBD0D3;
                            margin-right: 10px;
                        }
                    }
                }
            }
            .second-bg{
                background-image: url('../img/1231.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 430px;
                border-radius: 6px;
                margin-top: 40px;
                position: relative;
                filter: grayscale(0%);
                transition: all 0.3s;
                &:hover{
                    filter: grayscale(100%);
                    transition: all 0.3s;
                }
                .bg-box{
                    .second-titile{
                        font-family: 'Helvetica';
                        font-weight: bold;
                        color: #FFFFFF;
                        font-size: 16px;
                        position: absolute;
                        top: 40px;
                        left: 40px;
                    }
                    
                    .botom-titile-01{
                        position: absolute;
                        bottom: 40px;
                        left: 40px;
                    }
                    .large-article{
                        font-family: 'Helvetica';
                        font-weight: bold;
                        color: #FFFFFF;
                        font-size: 24px;
                        margin-bottom: 10px;
                    }
                    .bottom-p{
                        max-width: 680px;
                        width: 100%;
                        font-family: 'AcuminPro-Regular_1';
                        font-size: 16px;
                        color: #FFFFFF;
                        line-height: 25px;
                        margin-bottom: 10px;
                    }
                    .second-p{
                        font-family: 'Helvetica-Oblique';
                        font-size: 13px;
                        color: #A6ADB4;
                        margin-top: 12px;
                        font-weight: normal;
                    .fa-clock{
                            font-size: 16px;
                                color: #CBD0D3;
                            margin-right: 10px;
                         }
                    }
                }
            }
        }
        .second-box{
            max-width: 360px;
            width: 100%;
           .first-box{
               max-width: 360px;
               width: 100%;
               .first-img{
                   width: 100%;
                   border-radius: 6px;
                   transition: all 0.3s;
                    &:hover{
                        transition: all 0.3s;
                        transform: scale(1.01);
                    }
               }
               .firts-h4{
                    font-family: 'AcuminPro-Bold';
                    font-size: 16px;
                    margin-top: 20px;
                    margin-bottom: 10px;
               }
               .first-p{
                font-family: 'Helvetica-Oblique';
                font-size: 13px;
                color: #A6ADB4;
                .fa-clock{
                    font-size: 16px;
                    color: #A6ADB4;
                    margin-right: 10px;
                }
                .first-span{
                    text-decoration: underline;
                    text-decoration-color: #A6ADB4;
                }
               }
            }
            .second-box{
                max-width: 360px;
                width: 100%;
                margin-top: 40px;
                .second-img{
                    width: 100%;
                    border-radius: 6px;
                    transition: all 0.3s;
                    &:hover{
                        transition: all 0.3s;
                        transform: scale(1.01);
                    }
                }
                .second-h4{
                    font-family: 'AcuminPro-Bold';
                    font-size: 16px;
                    margin-top: 20px;
                    margin-bottom: 10px;
                }
                .second-p{
                    font-family: 'Helvetica-Oblique';
                    font-size: 13px;
                    color: #A6ADB4;
                    .fa-clock{
                        font-size: 16px;
                        color: #A6ADB4;
                        margin-right: 10px;
                    }
                    .second-span{
                        text-decoration: underline;
                        text-decoration-color: #A6ADB4;
                    }
                }
            }
            .therd-box{
                max-width: 360px;
                width: 100%;
                margin-top: 40px;
                .therd-img{
                    width: 100%;
                    border-radius: 6px;
                    transition: all 0.3s;
                    &:hover{
                        transition: all 0.3s;
                        transform: scale(1.01);
                    }
                }
                .therd-h4{
                    font-family: 'AcuminPro-Bold';
                    font-size: 16px;
                    margin-top: 20px;
                    margin-bottom: 10px;
                }
                .therd-p{
                    font-family: 'Helvetica-Oblique';
                    font-size: 13px;
                    color: #A6ADB4;
                    .fa-clock{
                        font-size: 16px;
                        color: #A6ADB4;
                        margin-right: 10px;
                    }
                    .therd-span{
                        text-decoration: underline;
                        text-decoration-color: #A6ADB4;
                    }
                }
            }
        }
    }
    
}
